body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #68c2ff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #2980b9;
    padding: 10px 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    right: 0;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.dropdown-toggle:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3498db;
    min-width: 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    right: 0;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #2980b9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 767px) {
    .navbar-left,
    .navbar-right {
        flex-direction: column;
        justify-content: space-around;
    }
  }