<div class="container">
<div class="sidebar">
    <h2><%= t(:categories) %></h2>
    <ul>
        <% @categories.each do |category| %>
        <%= link_to t(category.name), category, class: "link" %><br>
        <% end %>
    </ul>
</div>
<div class="main-content">

    <%= render "products/searchbar" %>

    <div class="product-container" id="products">
            <%= render "products/products", products: @products %>
    </div>
</div>
</div>