<% if notice %>
    <div class="product-container">
    <p class="notice">ЁЯЫИ<%= notice %></p>
    </div>
<% elsif alert %>
    <div class="product-container">
    <p class="alert">тЪая╕П<%= alert %></p>
    </div>
<% end %>